     * .parent {
         width: 480px;
         height: 480px;
         background-color: cadetblue;
         padding: 40px 52px 30px;
     }
     
     .child {
         width: 400px;
     }
     
     .red {
         width: 400px;
         height: 100px;
         background-color: red;
     }
     
     .yellow {
         background-color: yellow;
     }